<div id="container">
    <% @customers.each do |cust| %>
        <div class="customer">
            <h1><%=cust.FullName%></h1>
            <p><%=image_tag cust.Image%></p>
            <p class="phoneNum"><%=cust.PhoneNumber%></p>
            <p class ="email"><%=cust.EmailAddress%></p>
        </div>
    <% end %>
</div>
